body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 294px;
  height: 294px;
  margin: 1em auto;
}

.dead {
  background: white;
}

.alive {
  background: blue;
}

form {
  padding-top: 20px;
}

button {
  font-size: x-large;
}

.message {
  padding-top: 20px;
  color: blue;
}